doctype
html
  head
  title="Chat"
  script(src='/chat.js')
  script(src = '/socket.io/socket.io.js')
  link(href = '/styles.css', rel='stylesheet')
 body 
 h1#title 
 #content
 
 form#form(action= '', onsubmit ="return false")
   input#field(placeholder="Enter Message to Send" ,type="text")
   input#send(type='submit',value='')

 form#usersOnline(action= '',onsubmit ="return false")
